<%= render 'thredded/shared/cimav_header' %>

<div class="thredded--main-container">

  <div class="thredded--main-navigation thredded--user-navigation thredded--user-navigation-standalone">
    <h1 class="profile--title"><%= @user.username %></h1>
    <div class="thredded--spacer"></div>
    <ul class="">
      <li class="thredded--user-navigation--standalone--profile thredded--user-navigation--item">
        <%= link_to 'Egresados', '/users' %>
      </li>
      <li class="thredded--user-navigation--item thredded--user-navigation--item">
        <%= link_to 'Foros', '/forum' %>
      </li>

      <li class="thredded--user-navigation--item thredded--user-navigation--item">
        <%= link_to send(:"destroy_user_session_path"), method: :delete do %>
          <%= t('thredded.nav.sign_out') %>
        <% end %>
      </li>

    </ul>
  </div>

  <%= render partial: "profiles/profile", locals: { user: @user } %>

</div>